In [12]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

class Scaler:
    def __init__(self, file_path):
        self.file_path = file_path
        self.data = pd.read_csv(file_path)
        self.normalized_data = None
        self.standardized_data = None

    def change_budget(self, df, column_name="Budget in USD"):
        if column_name in df.columns:
            df[column_name] = df[column_name].round().astype(float)
    
    def min_max_normalize(self, column_name):
        """Apply Min-Max normalization to the specified column."""
        self.change_budget(self.data)  
        try:
            if self.data[column_name.strip()].dtype in ['float64', 'int64']:
                min_max_scaler = MinMaxScaler()
                normalized_data = min_max_scaler.fit_transform(self.data[[column_name]])
                
                self.normalized_data = self.data.copy()
                self.normalized_data[column_name] = normalized_data
                
                return self.normalized_data
            else:
                print(f"Error: {column_name} is not a numeric column")
        except Exception as e:
            print(f"Error occurred: {e}")
    
    def standardize(self, column_name):
        """Apply standardization to the specified column."""
        try:
            if self.data[column_name.strip()].dtype in ['float64', 'int64']:
                standard_scaler = StandardScaler()
                standardized_data = standard_scaler.fit_transform(self.data[[column_name]])
                
                self.standardized_data = self.data.copy()
                self.standardized_data[column_name] = standardized_data
                
                return self.standardized_data
            else:
                print(f"Error: {column_name} is not a numeric column")
        except Exception as e:
            print(f"Error occurred: {e}")

Original Data:
     Unnamed: 0   Movie Id            Genre Release Date    Rating  \
0            44  TOYHANVUR           Horror   07/07/1985  9.750176
1            47  CORCILSLF      Documentary   05/08/1999  7.912876
2            64  UBWUVIHEL        Adventure   08/05/1996  3.116053
3            67  CGHMHKJHH          Fantasy   21/07/2018  8.811783
4            67  WMLWHTAMN          Fantasy   28/10/2011  5.250991
..          ...        ...              ...          ...       ...
995          79  FLGKFVWQC            Crime   03/03/2019  9.289647
996          41  YPFAOWQTB           Action   26/09/1984  8.779748
997          17  PFOLXESPH            Drama   13/07/2014  3.418956
998          80  IOENWBYUW          Fantasy   05/12/2004  9.090440
999          43  LMZTDBXMY  Science Fiction   12/05/1998  7.430801

                                               Summary Shooting Location  \
0    A group of college students get more than they...          New York
1    A documentary that sheds light on the devastat...             Paris
2    A lost civilization is rediscovered deep withi...            Sydney
3    A young inventor builds a time machine and emb...             Paris
4    A young inventor builds a time machine and emb...            Sydney
..                                                 ...               ...
995  A cunning art thief plans their most daring he...            London
996  When a powerful artifact is stolen from a muse...       Los Angeles
997  A brilliant scientist invents a revolutionary ...             Tokyo
998  A group of social media influencers trapped on...             Tokyo
999  A group of scientists develop a revolutionary ...          New York

     Budget in USD  Awards  Popular
0     1.035408e+07       2        1
1     5.722105e+06       1        1
2     5.601372e+07       0        0
3     4.422451e+06       1        1
4     1.163290e+08       0        0
..             ...     ...      ...
995   3.948226e+06       2        0
996   8.038097e+07       0        0
997   5.599563e+07       0        0
998   1.207424e+07       1        0
999   5.685588e+07       0        0

[1000 rows x 10 columns]

Min-Max Normalized Rating Column:
     Unnamed: 0   Movie Id            Genre Release Date    Rating  \
0            44  TOYHANVUR           Horror   07/07/1985  0.966213
1            47  CORCILSLF      Documentary   05/08/1999  0.702310
2            64  UBWUVIHEL        Adventure   08/05/1996  0.013313
3            67  CGHMHKJHH          Fantasy   21/07/2018  0.831426
4            67  WMLWHTAMN          Fantasy   28/10/2011  0.319967
..          ...        ...              ...          ...       ...
995          79  FLGKFVWQC            Crime   03/03/2019  0.900064
996          41  YPFAOWQTB           Action   26/09/1984  0.826824
997          17  PFOLXESPH            Drama   13/07/2014  0.056821
998          80  IOENWBYUW          Fantasy   05/12/2004  0.871451
999          43  LMZTDBXMY  Science Fiction   12/05/1998  0.633067

                                               Summary Shooting Location  \
0    A group of college students get more than they...          New York
1    A documentary that sheds light on the devastat...             Paris
2    A lost civilization is rediscovered deep withi...            Sydney
3    A young inventor builds a time machine and emb...             Paris
4    A young inventor builds a time machine and emb...            Sydney
..                                                 ...               ...
995  A cunning art thief plans their most daring he...            London
996  When a powerful artifact is stolen from a muse...       Los Angeles
997  A brilliant scientist invents a revolutionary ...             Tokyo
998  A group of social media influencers trapped on...             Tokyo
999  A group of scientists develop a revolutionary ...          New York

     Budget in USD  Awards  Popular
0       10354075.0       2        1
1        5722105.0       1        1
2       56013723.0       0        0
3        4422451.0       1        1
4      116328972.0       0        0
..             ...     ...      ...
995      3948226.0       2        0
996     80380973.0       0        0
997     55995631.0       0        0
998     12074235.0       1        0
999     56855877.0       0        0

[1000 rows x 10 columns]

Standardized Budget in USD Column:
     Unnamed: 0   Movie Id            Genre Release Date    Rating  \
0            44  TOYHANVUR           Horror   07/07/1985  9.750176
1            47  CORCILSLF      Documentary   05/08/1999  7.912876
2            64  UBWUVIHEL        Adventure   08/05/1996  3.116053
3            67  CGHMHKJHH          Fantasy   21/07/2018  8.811783
4            67  WMLWHTAMN          Fantasy   28/10/2011  5.250991
..          ...        ...              ...          ...       ...
995          79  FLGKFVWQC            Crime   03/03/2019  9.289647
996          41  YPFAOWQTB           Action   26/09/1984  8.779748
997          17  PFOLXESPH            Drama   13/07/2014  3.418956
998          80  IOENWBYUW          Fantasy   05/12/2004  9.090440
999          43  LMZTDBXMY  Science Fiction   12/05/1998  7.430801

                                               Summary Shooting Location  \
0    A group of college students get more than they...          New York
1    A documentary that sheds light on the devastat...             Paris
2    A lost civilization is rediscovered deep withi...            Sydney
3    A young inventor builds a time machine and emb...             Paris
4    A young inventor builds a time machine and emb...            Sydney
..                                                 ...               ...
995  A cunning art thief plans their most daring he...            London
996  When a powerful artifact is stolen from a muse...       Los Angeles
997  A brilliant scientist invents a revolutionary ...             Tokyo
998  A group of social media influencers trapped on...             Tokyo
999  A group of scientists develop a revolutionary ...          New York

     Budget in USD  Awards  Popular
0        -1.228578       2        1
1        -1.381215       1        1
2         0.276037       0        0
3        -1.424042       1        1
4         2.263595       0        0
..             ...     ...      ...
995      -1.439669       2        0
996       1.079007       0        0
997       0.275440       0        0
998      -1.171894       1        0
999       0.303788       0        0

[1000 rows x 10 columns]